@charset "UTF-8";
img {
  width: 100%;
}

a {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.7;
}

.inner {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.only-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .only-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .only-pc {
    display: none;
  }
}

a {
  text-decoration: none;
}

#em240508arai .mv {
  padding-bottom: 0rem;
  overflow-x: clip;
}
@media screen and (max-width: 767px) {
  #em240508arai .mv {
    padding-bottom: 0;
  }
}
#em240508arai .mv__inner {
  padding-left: 12.1rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .mv__inner {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: -9.4871794872vw;
  }
}
@media screen and (max-width: 767px) {
  #em240508arai .mv__video {
    position: relative;
    overflow: clip;
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  #em240508arai .mv__video::after {
    content: "";
    display: inline-block;
    width: 100%;
    padding-top: 175.3%;
  }
}
#em240508arai .mv__video video {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  #em240508arai .mv__video video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: auto;
  }
}
#em240508arai .mv__text {
  margin-top: -7.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 4.9rem;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  #em240508arai .mv__text {
    margin-top: 0vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6.1538461538vw;
    padding-right: 3.0769230769vw;
  }
}
#em240508arai .mv__text_emmi {
  max-width: 41.9rem;
  width: 100%;
  padding-bottom: 0.2rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .mv__text_emmi {
    padding-bottom: 0;
    max-width: 55.641025641vw;
    margin-right: 0.7692307692vw;
  }
}
#em240508arai .mv__text_summer {
  max-width: 34.3rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .mv__text_summer {
    max-width: 58.6871794872vw;
  }
}

#em240508arai .sec-1 {
  margin-top: 37.5rem;
  background: #555555;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-1 {
    margin-top: 84.4358974359vw;
    overflow-x: clip;
    z-index: -1;
  }
}
#em240508arai .sec-1__inner {
  padding-top: 86.07rem;
  padding-bottom: 59.7rem;
  padding-left: 11rem;
  padding-right: 11rem;
  width: 100%;
  max-width: calc(1280px + 5rem);
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-1__inner {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
#em240508arai .sec-1__contents {
  padding-top: 7.73rem;
  padding-bottom: 7rem;
  padding-left: 3.41rem;
  padding-right: 18.6rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-1__contents {
    padding-top: 114.7435897436vw;
    padding-bottom: 26.6666666667vw;
    padding-left: 0;
    padding-right: 0;
  }
}
#em240508arai .sec-1__main_image {
  max-width: 69.4rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-1__main_image {
    max-width: 66.4102564103vw;
    position: relative;
    z-index: 1;
  }
}
#em240508arai .sec-1__image-top {
  position: absolute;
  left: 0;
  top: -13.7rem;
  max-width: 114rem;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-1__image-top {
    top: -51.0256410256vw;
    width: 149.6913580247vw;
    max-width: 124.358974359vw;
  }
}
#em240508arai .sec-1__image-middel {
  position: absolute;
  right: 0;
  top: 71.8rem;
  max-width: 51.3rem;
  z-index: 0;
}
#em240508arai .sec-1__image-bottom {
  position: absolute;
  bottom: -56.5rem;
  left: calc(50% + 3.8rem);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 62rem;
  width: 100%;
}
#em240508arai .sec-1__image_contents {
  position: relative;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-1__image_contents {
    padding-top: 5.2307692308vw;
    padding-left: 5.0256410256vw;
    padding-bottom: 8.1538461538vw;
    margin-left: 11.641025641vw;
    background: #555555;
    max-width: 71.3846153846vw;
    margin-right: auto;
  }
}
#em240508arai .sec-1__text-top_container {
  position: absolute;
  max-width: 51.2rem;
  left: 2.96rem;
  top: -7.71rem;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-1__text-top_container {
    max-width: 41.0256410256vw;
    left: 17.0512820513vw;
    top: 0;
  }
}
#em240508arai .sec-1__text-top {
  width: 51.2rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-1__text-top {
    width: 41.0256410256vw;
  }
}
#em240508arai .sec-1__text-left_container {
  position: absolute;
  max-width: 11.586rem;
  width: 100%;
  left: -3.41rem;
  max-height: 25.634rem;
  top: calc(50% + 2.2rem);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-1__text-left_container {
    max-width: 9.2307692308vw;
    max-height: 20.541025641vw;
    left: 0;
    top: calc(50% + 1.6666666667vw);
  }
}
#em240508arai .sec-1__text-left {
  height: 25.634rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-1__text-left {
    height: 20.541025641vw;
  }
}
#em240508arai .sec-1__text-bottom_container {
  position: absolute;
  max-width: 57.376rem;
  right: -3.9rem;
  bottom: -7rem;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-1__text-bottom_container {
    max-width: 45.9743589744vw;
    right: 5.9230769231vw;
    bottom: 0;
  }
}
#em240508arai .sec-1__text-bottom {
  width: 57.376rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-1__text-bottom {
    width: 45.9743589744vw;
  }
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-1__slide {
    position: absolute;
    z-index: 0;
    bottom: 69.4358974359vw;
    right: -16.9743589744vw;
    max-width: 78.4615384615vw;
    width: 100vw;
  }
}

#em240508arai .sec-2 {
  margin-top: 90.3rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2 {
    margin-top: 24.6153846154vw;
  }
}
#em240508arai .sec-2__inner {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__top-images {
    overflow-x: clip;
  }
}
#em240508arai .sec-2__top-images_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.8rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__top-images_flex {
    gap: 2.0512820513vw;
    max-width: 102.0512820513vw;
    width: 102.0512820513vw;
  }
}
#em240508arai .sec-2__top-image {
  max-width: 56.8rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__top-image {
    max-width: 50vw;
  }
}
#em240508arai .sec-2__top-image_bottom {
  margin-top: 7.9rem;
  margin-left: auto;
  max-width: 60.5rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__top-image_bottom {
    max-width: 92.8205128205vw;
    margin-top: 7.1794871795vw;
  }
}
#em240508arai .sec-2__second {
  position: relative;
  margin-top: 30.9rem;
  margin-left: auto;
  max-width: 96.2rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__second {
    margin-top: 66.3333333333vw;
    overflow-x: clip;
  }
}
#em240508arai .sec-2__second-text {
  position: absolute;
  top: -41.6rem;
  left: -5.9rem;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
  z-index: 1;
  max-width: 26.59rem;
}
@media screen and (max-width: 1021px) {
  #em240508arai .sec-2__second-text {
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__second-text {
    max-width: 23.0769230769vw;
    top: -34.3846153846vw;
    left: calc(50% + 5.2564102564vw);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
#em240508arai .sec-2__second-text-01_container {
  max-width: 11.41rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__second-text-01_container {
    max-width: 11.7025641026vw;
  }
}
#em240508arai .sec-2__second-text-01 {
  width: 11.41rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__second-text-01 {
    width: 11.7025641026vw;
  }
}
#em240508arai .sec-2__second-text-02_container {
  max-width: 26.54rem;
  margin-top: 10.42rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__second-text-02_container {
    max-width: 23.0769230769vw;
    margin-top: 6.5897435897vw;
  }
}
#em240508arai .sec-2__second-text-02 {
  width: 20.54rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__second-text-02 {
    width: 21.0666666667vw;
  }
}
#em240508arai .sec-2__second-text-03_container {
  max-width: 13.36rem;
  margin-top: 9.73rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__second-text-03_container {
    max-width: 13.7025641026vw;
    margin-top: 5.7692307692vw;
  }
}
#em240508arai .sec-2__second-text-03 {
  width: 13.36rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__second-text-03 {
    width: 13.7025641026vw;
  }
}
#em240508arai .sec-2__second-text-04_container {
  max-width: 12.09rem;
  margin-top: 11.92rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__second-text-04_container {
    max-width: 12.4vw;
    margin-top: 8.1282051282vw;
    margin-left: 0.2564102564vw;
  }
}
#em240508arai .sec-2__second-text-04 {
  width: 12.09rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__second-text-04 {
    width: 12.4vw;
  }
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__second-image {
    max-width: 96.9230769231vw;
    margin-right: -4.358974359vw;
    margin-left: auto;
  }
}
#em240508arai .sec-2__third {
  margin-top: 12.6rem;
  overflow-x: clip;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__third {
    margin-top: 10.5897435897vw;
  }
}
#em240508arai .sec-2__third-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
  width: 100%;
  margin-left: 0;
}
@media screen and (max-width: 1400px) {
  #em240508arai .sec-2__third-flex {
    width: 109.453125vw;
    margin-left: -7.9rem;
  }
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__third-flex {
    display: none;
  }
}
#em240508arai .sec-2__third-image-top {
  max-width: 73.7rem;
  width: 100%;
}
#em240508arai .sec-2__third-image-middel {
  max-width: 63.2rem;
  width: 100%;
  padding-top: 55.3rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__third-swiper {
    max-width: 76.9230769231vw;
    margin-right: auto;
  }
}
#em240508arai .sec-2__third-contents {
  margin-top: 6.3rem;
  margin-left: auto;
  max-width: 98.8rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__third-contents {
    margin-top: 22.2820512821vw;
    margin-right: auto;
  }
}
#em240508arai .sec-2__third-text_contents {
  max-width: 55.5rem;
  position: absolute;
  left: -16.44rem;
  top: -3.78rem;
  width: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
}
@media screen and (max-width: 1153px) {
  #em240508arai .sec-2__third-text_contents {
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__third-text_contents {
    max-width: 56.9948717949vw;
    top: auto;
    bottom: -4.5128205128vw;
    left: 11.0256410256vw;
  }
}
#em240508arai .sec-2__third-text {
  width: 55.5rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__third-text {
    width: 56.9948717949vw;
  }
}
#em240508arai .sec-2__fourth {
  max-width: 57.8rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24.9rem;
  -webkit-transform: translateX(4.8rem);
          transform: translateX(4.8rem);
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-2__fourth {
    max-width: 84.6153846154vw;
    margin-top: 52.3076923077vw;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#em240508arai .sec-3 {
  margin-top: 24.1rem;
  background: #555555;
  position: relative;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-3 {
    margin-top: 12.3846153846vw;
  }
}
#em240508arai .sec-3__inner {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 52.9rem;
  padding-bottom: 143.2rem;
  position: relative;
  z-index: 1;
  background: #555555;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-3__inner {
    padding-top: 21.2820512821vw;
    padding-bottom: 129.1794871795vw;
  }
}
#em240508arai .sec-3__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  padding-right: 5.4rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-3__images {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-3__swiper {
    max-width: 84.7692307692vw;
    margin-left: auto;
    margin-right: 1.4615384615vw;
  }
}
#em240508arai .sec-3__image {
  max-width: 59.3rem;
  width: 100%;
}
#em240508arai .sec-3__bottom-contents {
  bottom: -38.6rem;
  right: 5.1rem;
  max-width: 95.3rem;
  padding-top: 11.9rem;
  position: absolute;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-3__bottom-contents {
    padding-top: 20.5128205128vw;
    max-width: 99.4871794872vw;
    width: 100%;
    padding-right: 10.6153846154vw;
    right: auto;
    left: -5.3846153846vw;
    bottom: -55.3846153846vw;
  }
}
#em240508arai .sec-3__bottom-circle {
  position: absolute;
  right: 2.4rem;
  top: 0;
  max-width: 24.2rem;
  background: transparent;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-3__bottom-circle {
    right: 0;
    max-width: 43.3333333333vw;
  }
}
#em240508arai .sec-3__bottom-circle video {
  background: transparent;
}

#em240508arai .sec-4 {
  margin-top: 46.6rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-4 {
    margin-top: 72.0512820513vw;
  }
}
#em240508arai .sec-4__inner {
  width: 100%;
  overflow-x: clip;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#em240508arai .sec-4__first-contents {
  position: relative;
  max-width: 95rem;
  margin-left: -4.1rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-4__first-contents {
    margin-left: 0;
  }
}
#em240508arai .sec-4__first-text {
  position: absolute;
  top: 2.32rem;
  left: 37.32rem;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-4__first-text {
    display: none;
  }
}
#em240508arai .sec-4__first-text-top {
  width: 26.67rem;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
}
#em240508arai .sec-4__first-text-top_container {
  max-width: 26.67rem;
  width: 100%;
}
#em240508arai .sec-4__first-text-center {
  width: 28.902rem;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
}
#em240508arai .sec-4__first-text-center_container {
  max-width: 28.902rem;
  margin-top: 8rem;
  width: 100%;
}
#em240508arai .sec-4__first-text-bottom {
  width: 26.076rem;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
}
#em240508arai .sec-4__first-text-bottom_container {
  max-width: 26.076rem;
  margin-top: 8rem;
}
#em240508arai .sec-4__second {
  margin-top: 21.4rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-4__second {
    margin-top: 61.7948717949vw;
  }
}
#em240508arai .sec-4__second-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.8rem;
  overflow-x: clip;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-4__second-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 10vw;
    overflow-x: clip;
  }
}
#em240508arai .sec-4__second-image {
  max-width: 62.1rem;
  width: 100%;
}
#em240508arai .sec-4__second-image_left {
  padding-top: 55.6rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-4__second-image_left {
    padding-top: 0;
    max-width: 68.358974359vw;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
#em240508arai .sec-4__second-image_right {
  -webkit-transform: translateX(0.8rem);
          transform: translateX(0.8rem);
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-4__second-image_right {
    max-width: 88.8666666667vw;
    margin-right: -5.0256410256vw;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
#em240508arai .sec-4__second-text_container {
  position: absolute;
  max-width: 14.44rem;
  width: 100%;
  max-height: 97.4rem;
  top: calc(50% - 7rem);
  left: calc(50% + 1rem);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-4__second-text_container {
    max-width: 15vw;
    max-height: 100vw;
    top: auto;
    bottom: -33.7692307692vw;
    left: calc(50% + 19.5641025641vw);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
#em240508arai .sec-4__third {
  margin-top: 33.1rem;
  overflow-x: clip;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-4__third {
    margin-top: 66.0256410256vw;
  }
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-4__third-swiper_contents {
    width: 100.7692307692vw;
    margin-left: -0.2564102564vw;
  }
}
#em240508arai .sec-4__third-top_images {
  margin-top: 4.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  max-width: 152.4rem;
  width: 119.0625vw;
  margin-left: -5.2rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-4__third-top_images {
    display: none;
  }
}
#em240508arai .sec-4__third-left_image,
#em240508arai .sec-4__third-right_image {
  max-width: 75.2rem;
  width: 100%;
}
#em240508arai .sec-4__third-middel_image {
  margin-top: 26.3rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-4__third-middel_image {
    margin-top: 0;
    max-width: 192.3538461538vw;
    width: 192.3538461538vw;
    margin-left: -61.7948717949vw;
  }
}
#em240508arai .sec-4__third-middel_image-2 {
  margin-top: 18.7rem;
  margin-left: auto;
  max-width: 75.2rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-4__third-middel_image-2 {
    margin-top: 20.5128205128vw;
    max-width: 84.6153846154vw;
    margin-left: auto;
    margin-right: auto;
  }
}
#em240508arai .sec-4__third-bottom_image {
  margin-top: 47.5rem;
  max-width: 57.9rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateX(0.05rem);
          transform: translateX(0.05rem);
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-4__third-bottom_image {
    margin-top: 48.4871794872vw;
    max-width: 85.0974358974vw;
    -webkit-transform: translateX(-0.2564102564vw);
            transform: translateX(-0.2564102564vw);
  }
}

#em240508arai .sec-5 {
  padding-top: 62.8rem;
  margin-top: -35.6rem;
  padding-bottom: 73.1rem;
  background: #E6E6E6;
  position: relative;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-5 {
    margin-top: 23.1025641026vw;
    background: transparent;
    padding-bottom: 0;
    padding-top: 0;
  }
}
#em240508arai .sec-5__inner {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-5__inner-top_text_contents,
  #em240508arai .sec-5__inner-top_text {
    width: 49.1435897436vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    -webkit-transform: translateX(-0.3846153846vw);
            transform: translateX(-0.3846153846vw);
    mix-blend-mode: multiply;
    -webkit-mix-blend-mode: multiply;
  }
}
#em240508arai .sec-5__inner-top_text_contents {
  overflow-x: hidden;
  max-width: 49.1435897436vw;
  width: 100%;
}
#em240508arai .sec-5__first-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-5__first-contents {
    display: block;
    margin-top: 21.1025641026vw;
  }
}
#em240508arai .sec-5__first-image {
  max-width: 76.5rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-5__first-image {
    max-width: 78.6128205128vw;
    margin-right: auto;
  }
}
#em240508arai .sec-5__first-texts {
  margin-left: 18.23rem;
  padding-top: 61.1rem;
}
@media screen and (max-width: 1096px) {
  #em240508arai .sec-5__first-texts {
    margin-left: 14.2421875vw;
  }
}
#em240508arai .sec-5__first-text--top {
  width: 8.12rem;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
}
#em240508arai .sec-5__first-text--top_container {
  max-width: 8.12rem;
  width: 100%;
}
#em240508arai .sec-5__first-text--bottom {
  width: 5.664rem;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
}
#em240508arai .sec-5__first-text--bottom_container {
  max-width: 5.664rem;
  width: 100%;
  margin-top: 3.2rem;
  margin-left: 6.34rem;
}
#em240508arai .sec-5__second-images {
  overflow-x: clip;
  margin-top: 27.2rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-5__second-images {
    margin-top: 10.5897435897vw;
  }
}
#em240508arai .sec-5__second-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  max-width: 186.5rem;
  width: 145.703125vw;
  margin-left: -49.5rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-5__second-flex {
    gap: 2.5641025641vw;
    max-width: 146.6666666667vw;
    width: 146.6666666667vw;
    margin-left: -40.2564102564vw;
  }
}
#em240508arai .sec-5__second-left_image {
  max-width: 92.3rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-5__second-left_image {
    max-width: 72.0512820513vw;
  }
}
#em240508arai .sec-5__second-right_image {
  max-width: 92.2rem;
  width: 100%;
}
#em240508arai .sec-5__third-images {
  max-width: 58.2rem;
  position: absolute;
  left: calc(50% + 2.6rem);
  bottom: -47.7rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-5__third-images {
    position: static;
    max-width: 64.1025641026vw;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    bottom: auto;
    -webkit-transform: translateX(0.5128205128vw);
            transform: translateX(0.5128205128vw);
    margin-top: 33.6666666667vw;
  }
}

#em240508arai .sec-6 {
  margin-top: 26.3rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-6 {
    margin-top: 20.5128205128vw;
  }
}
#em240508arai .sec-6__inner {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#em240508arai .sec-6__top_text {
  max-width: 110.75rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
  -webkit-transform: translateX(-0.1rem);
          transform: translateX(-0.1rem);
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-6__top_text {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    max-width: 85.1923076923vw;
  }
}
#em240508arai .sec-6__top_text-01_container {
  max-width: 108.506rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-6__top_text-01_container {
    max-width: 83.4666666667vw;
    -webkit-transform: translateX(0.3846153846vw);
            transform: translateX(0.3846153846vw);
  }
}
#em240508arai .sec-6__top_text-01 {
  max-width: 108.506rem;
  width: 100vw;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-6__top_text-01 {
    max-width: 83.4666666667vw;
  }
}
#em240508arai .sec-6__top_text-02_container {
  max-width: 110.75rem;
  margin-top: 17.85rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-6__top_text-02_container {
    max-width: 85.1923076923vw;
    margin-top: 4.7435897436vw;
    -webkit-transform: translateX(-0.3846153846vw);
            transform: translateX(-0.3846153846vw);
  }
}
#em240508arai .sec-6__top_text-02 {
  max-width: 110.75rem;
  width: 100vw;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-6__top_text-02 {
    max-width: 85.1923076923vw;
  }
}
#em240508arai .sec-6__first_image {
  max-width: 81.9rem;
  margin-right: auto;
  margin-top: -32.05rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-6__first_image {
    max-width: 85.1282051282vw;
    margin-top: -14.2307692308vw;
  }
}
#em240508arai .sec-6__second-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.6rem;
  margin-top: 13.3rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-6__second-images {
    display: none;
  }
}
#em240508arai .sec-6__second-left_image {
  max-width: 50.8rem;
  width: 100%;
  padding-top: 58.2rem;
}
#em240508arai .sec-6__second-right_image {
  max-width: 72.6rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-6__swiper_contents {
    margin-top: -31.0769230769vw;
    max-width: 60.7692307692vw;
    margin-left: auto;
  }
}
#em240508arai .sec-6__bottom_text {
  width: 55rem;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
}
#em240508arai .sec-6__bottom_text_container {
  margin-top: 47.3rem;
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateX(2.8rem);
          transform: translateX(2.8rem);
  width: 100%;
}

#em240508arai .sec-7 {
  margin-top: 22.15rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-7 {
    margin-top: 34.3333333333vw;
  }
}
#em240508arai .sec-7__inner {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#em240508arai .sec-7__first-contents {
  padding-top: 21.4rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#555555), color-stop(92.6rem, #555555), color-stop(92.6rem, transparent), to(transparent));
  background: linear-gradient(2700deg, #555555 0%, #555555 92.6rem, transparent 92.6rem, transparent 100%);
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-7__first-contents {
    padding-top: 23.0769230769vw;
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), color-stop(76.9230769231vw, #555555), color-stop(76.9230769231vw, transparent), to(transparent));
    background: linear-gradient(2700deg, #555555 0%, #555555 76.9230769231vw, transparent 76.9230769231vw, transparent 100%);
  }
}
#em240508arai .sec-7__first-image {
  max-width: 80.8rem;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-7__first-image {
    max-width: 68.358974359vw;
  }
}
#em240508arai .sec-7__second-images {
  margin-top: 18.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-7__second-images {
    margin-top: 6.1538461538vw;
  }
}
#em240508arai .sec-7__second-image {
  max-width: 42.7rem;
}
#em240508arai .sec-7__second-image--center {
  max-width: 42.8rem;
}

#em240508arai .sec-8 {
  margin-top: 27.5rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8 {
    margin-top: 41.7948717949vw;
  }
}
#em240508arai .sec-8__inner {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#em240508arai .sec-8__top-texts {
  padding-left: 11.35rem;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__top-texts {
    padding-left: 8.7179487179vw;
  }
}
#em240508arai .sec-8__top-first_text {
  width: 24.187rem;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__top-first_text {
    width: 37.2102564103vw;
  }
}
#em240508arai .sec-8__top-first_text_container {
  max-width: 24.187rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__top-first_text_container {
    max-width: 37.2102564103vw;
  }
}
#em240508arai .sec-8__top-second_text {
  width: 18.475rem;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__top-second_text {
    width: 28.4230769231vw;
  }
}
#em240508arai .sec-8__top-second_text_container {
  max-width: 18.475rem;
  margin-top: 7.89rem;
  margin-left: 32.4rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__top-second_text_container {
    max-width: 28.4230769231vw;
    margin-left: 32.8205128205vw;
    margin-top: 10.2820512821vw;
  }
}
#em240508arai .sec-8__top-third_text {
  width: 31.325rem;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__top-third_text {
    width: 48.1923076923vw;
  }
}
#em240508arai .sec-8__top-third_text_container {
  max-width: 31.325rem;
  margin-top: 6.99rem;
  margin-left: 9.6rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__top-third_text_container {
    max-width: 48.1923076923vw;
    margin-left: 2.5641025641vw;
    margin-top: 8.7435897436vw;
  }
}
#em240508arai .sec-8__top-fourth_text {
  width: 18rem;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__top-fourth_text {
    width: 27.6923076923vw;
  }
}
#em240508arai .sec-8__top-fourth_text_container {
  max-width: 18rem;
  margin-top: 8.69rem;
  margin-left: 18.7rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__top-fourth_text_container {
    max-width: 27.6923076923vw;
    margin-left: 17.4358974359vw;
    margin-top: 12.5897435897vw;
  }
}
#em240508arai .sec-8__top-images {
  background: #555555;
  margin-top: 11.25rem;
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__top-images {
    margin-top: 25.9230769231vw;
  }
}
#em240508arai .sec-8__top-images_inner {
  padding-top: 120.9rem;
  padding-bottom: 96.7rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__top-images_inner {
    padding-top: 119.4871794872vw;
    padding-bottom: 54.0256410256vw;
    padding-left: 3.5897435897vw;
    padding-right: 4.0256410256vw;
  }
}
#em240508arai .sec-8__top-first_image {
  position: absolute;
  max-width: 85.3rem;
  right: 0;
  top: -23.45rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__top-first_image {
    max-width: 85.641025641vw;
    top: -18.7179487179vw;
  }
}
#em240508arai .sec-8__top_second-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__top_second-flex {
    gap: 0;
  }
}
#em240508arai .sec-8__top_second-image {
  max-width: 45.5rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__top_second-image {
    max-width: 46.1897435897vw;
  }
}
#em240508arai .sec-8__bottom-contents {
  margin-top: -40rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__bottom-contents {
    margin-top: -3.4358974359vw;
    overflow-x: clip;
  }
}
#em240508arai .sec-8__bottom-first_image {
  max-width: 120rem;
  margin-right: auto;
  position: relative;
  z-index: 1;
}
#em240508arai .sec-8__bottom-lines {
  margin-top: 14.65rem;
  padding-left: 12.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__bottom-lines {
    margin-top: 20.358974359vw;
    padding-left: 7.4358974359vw;
  }
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__bottom-lines--pc {
    display: none;
  }
}
#em240508arai .sec-8__bottom-lines--sp {
  display: none;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__bottom-lines--sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
#em240508arai .sec-8__bottom-line {
  display: inline-block;
  background: #0014FF;
  height: 1.2rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__bottom-line {
    height: 1.2820512821vw;
  }
}
#em240508arai .sec-8__bottom-line + .sec-8__bottom-line {
  margin-top: 2.6rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__bottom-line + .sec-8__bottom-line {
    margin-top: 2.8205128205vw;
  }
}
#em240508arai .sec-8__bottom-line:nth-child(1) {
  max-width: 46.2rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__bottom-line:nth-child(1) {
    max-width: 49.7435897436vw;
  }
}
#em240508arai .sec-8__bottom-line:nth-child(2) {
  max-width: 54.5rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__bottom-line:nth-child(2) {
    max-width: 58.7179487179vw;
  }
}
#em240508arai .sec-8__bottom-line:nth-child(3) {
  max-width: 32.8rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__bottom-line:nth-child(3) {
    max-width: 35.3846153846vw;
  }
}
#em240508arai .sec-8__bottom-images {
  margin-top: 34.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__bottom-images {
    gap: 2.5641025641vw;
    margin-top: 6.1538461538vw;
    max-width: 129.7435897436vw;
    width: 129.7435897436vw;
    margin-left: -6.6666666667vw;
  }
}
#em240508arai .sec-8__bottom-left_image {
  max-width: 76.3rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__bottom-left_image {
    max-width: 63.5897435897vw;
  }
}
#em240508arai .sec-8__bottom-right_image {
  max-width: 47.7rem;
  width: 100%;
  padding-top: 60.9rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-8__bottom-right_image {
    max-width: 63.5897435897vw;
    padding-top: 0;
  }
}

#em240508arai .sec-9 {
  margin-top: 24.9rem;
  background: #555555;
  overflow-x: clip;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9 {
    margin-top: 68.9743589744vw;
  }
}
#em240508arai .sec-9__inner {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding-top: 110rem;
  padding-bottom: 78.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9__inner {
    padding-top: 73.8461538462vw;
    padding-bottom: 67.1794871795vw;
  }
}
#em240508arai .sec-9__first_image {
  max-width: 66.7rem;
  position: absolute;
  left: 9.53rem;
  top: -38.77rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9__first_image {
    left: 7.4358974359vw;
    top: -51.0256410256vw;
    max-width: 64.941025641vw;
  }
}
#em240508arai .sec-9__second_image {
  max-width: 57.2rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9__second_image {
    max-width: 85.0974358974vw;
  }
}
#em240508arai .sec-9__third-images {
  max-width: 136rem;
  width: 106.25vw;
  margin-top: 46.8rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9__third-images {
    width: 100%;
    overflow-x: clip;
    margin-top: 42.8205128205vw;
  }
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9__third-top_image {
    max-width: 121.6153846154vw;
    width: 121.6153846154vw;
    margin-left: -0.2564102564vw;
  }
}
#em240508arai .sec-9__third-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 9.7rem;
  padding-right: 2.8rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9__third-flex {
    margin-top: 13.0769230769vw;
    padding-right: 0;
    margin-right: -0.5128205128vw;
  }
}
#em240508arai .sec-9__third-left_image,
#em240508arai .sec-9__third-right_image {
  max-width: 59.8rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9__third-left_image,
  #em240508arai .sec-9__third-right_image {
    max-width: 46.641025641vw;
  }
}
#em240508arai .sec-9__fourth-contents {
  margin-top: 38.65rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9__fourth-contents {
    margin-top: 18.6923076923vw;
    overflow-x: clip;
  }
}
#em240508arai .sec-9__fourth-text {
  width: 25.52rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9__fourth-text {
    width: 32.7179487179vw;
  }
}
#em240508arai .sec-9__fourth-text_container {
  max-width: 25.52rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateX(2.1rem);
          transform: translateX(2.1rem);
  width: 100%;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9__fourth-text_container {
    max-width: 32.7179487179vw;
    -webkit-transform: translateX(1.5384615385vw);
            transform: translateX(1.5384615385vw);
  }
}
#em240508arai .sec-9__fourth-top_image {
  max-width: 103.2rem;
  margin-right: auto;
  margin-top: 29.37rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9__fourth-top_image {
    margin-top: 15.6153846154vw;
    max-width: 86.1538461538vw;
  }
}
#em240508arai .sec-9__fourth-flex {
  margin-top: 23.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9__fourth-flex {
    gap: 0;
    margin-top: 19.4871794872vw;
    max-width: 124.1025641026vw;
    width: 124.1025641026vw;
  }
}
#em240508arai .sec-9__fourth-right_image,
#em240508arai .sec-9__fourth-left_image {
  max-width: 59.3rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9__fourth-right_image,
  #em240508arai .sec-9__fourth-left_image {
    max-width: 62.0512820513vw;
  }
}
#em240508arai .sec-9__fourth-bottom_image {
  max-width: 79.8rem;
  position: absolute;
  bottom: -59.9rem;
  right: 6.9rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-9__fourth-bottom_image {
    bottom: -40.5641025641vw;
    right: -0.8205128205vw;
    max-width: 66.7692307692vw;
  }
}

#em240508arai .short_video video {
  width: 100%;
  height: auto;
}

.js-fadeIn {
  -webkit-transition: visibility 0.4s ease, opacity 0.4s ease;
  transition: visibility 0.4s ease, opacity 0.4s ease;
  visibility: hidden;
  opacity: 0;
}

.js-fadeIn.visible {
  visibility: visible;
  opacity: 1;
}

#em240508arai .typing-effect {
  /* タイプライターアニメーションの設定 */
  -webkit-animation: typing 3s steps(23) infinite, effect 0.5s step-end infinite alternate;
          animation: typing 3s steps(23) infinite, effect 0.5s step-end infinite alternate;
  overflow-x: clip;
  border-right: 3px solid;
}
#em240508arai .typing-effect-upright {
  /* タイプライターアニメーションの設定 */
  -webkit-animation: typing-rl 3s steps(23) infinite, effect 0.5s step-end infinite alternate;
          animation: typing-rl 3s steps(23) infinite, effect 0.5s step-end infinite alternate;
  overflow-y: clip;
  border-bottom: 3px solid;
}
#em240508arai .typing-effect--5 {
  -webkit-animation: typing 3s steps(5) infinite, effect 0.5s step-end infinite alternate;
          animation: typing 3s steps(5) infinite, effect 0.5s step-end infinite alternate;
}
#em240508arai .typing-effect-es--5 {
  -webkit-animation: typing-es 3s steps(5) infinite, effect 0.5s step-end infinite alternate;
          animation: typing-es 3s steps(5) infinite, effect 0.5s step-end infinite alternate;
}
#em240508arai .typing-effect--11 {
  -webkit-animation: typing 3s steps(11) infinite, effect 0.5s step-end infinite alternate;
          animation: typing 3s steps(11) infinite, effect 0.5s step-end infinite alternate;
}
#em240508arai .typing-effect--21 {
  -webkit-animation: typing 3s steps(21) infinite, effect 0.5s step-end infinite alternate;
          animation: typing 3s steps(21) infinite, effect 0.5s step-end infinite alternate;
}
#em240508arai .typing-effect--16 {
  -webkit-animation: typing 3s steps(16) infinite, effect 0.5s step-end infinite alternate;
          animation: typing 3s steps(16) infinite, effect 0.5s step-end infinite alternate;
}
#em240508arai .typing-effect--22 {
  -webkit-animation: typing 3s steps(22) infinite, effect 0.5s step-end infinite alternate;
          animation: typing 3s steps(22) infinite, effect 0.5s step-end infinite alternate;
}
#em240508arai .typing-effect--17 {
  -webkit-animation: typing 3s steps(17) infinite, effect 0.5s step-end infinite alternate;
          animation: typing 3s steps(17) infinite, effect 0.5s step-end infinite alternate;
}
#em240508arai .typing-effect--7 {
  -webkit-animation: typing 3s steps(7) infinite, effect 0.5s step-end infinite alternate;
          animation: typing 3s steps(7) infinite, effect 0.5s step-end infinite alternate;
}
#em240508arai .typing-effect--3 {
  -webkit-animation: typing 3s steps(3) infinite, effect 0.5s step-end infinite alternate;
          animation: typing 3s steps(3) infinite, effect 0.5s step-end infinite alternate;
}
#em240508arai .typing-effect--10 {
  -webkit-animation: typing 3s steps(10) infinite, effect 0.5s step-end infinite alternate;
          animation: typing 3s steps(10) infinite, effect 0.5s step-end infinite alternate;
}
#em240508arai .typing-effect--12 {
  -webkit-animation: typing 3s steps(12) infinite, effect 0.5s step-end infinite alternate;
          animation: typing 3s steps(12) infinite, effect 0.5s step-end infinite alternate;
}
#em240508arai .typing-effect--9 {
  -webkit-animation: typing 3s steps(9) infinite, effect 0.5s step-end infinite alternate;
          animation: typing 3s steps(9) infinite, effect 0.5s step-end infinite alternate;
}
#em240508arai .typing-effect-upright--14 {
  -webkit-animation: typing-rl 3s steps(14) infinite, effect 0.5s step-end infinite alternate;
          animation: typing-rl 3s steps(14) infinite, effect 0.5s step-end infinite alternate;
}
#em240508arai .typing-effect-upright--11 {
  -webkit-animation: typing-rl 3s steps(11) infinite, effect 0.5s step-end infinite alternate;
          animation: typing-rl 3s steps(11) infinite, effect 0.5s step-end infinite alternate;
}
@-webkit-keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes typing-es {
  0% {
    width: 0;
  }
  100% {
    width: 125%;
  }
}
@keyframes typing-es {
  0% {
    width: 0;
  }
  100% {
    width: 125%;
  }
}
@-webkit-keyframes typing-rl {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes typing-rl {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

#em240508arai .sec-copy {
  margin-top: 89.4rem;
  font-size: 3rem;
  color: #0014FF;
  margin-bottom: 72.9rem;
  font-style: normal;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-copy {
    margin-top: 51.0256410256vw;
    font-size: 4.1025641026vw;
    margin-bottom: 10.7692307692vw;
  }
}
#em240508arai .sec-copy__inner {
  padding-left: 3.3rem;
  padding-right: 3.3rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-copy__inner {
    padding-left: 4.8717948718vw;
    padding-right: 5.8974358974vw;
  }
}
#em240508arai .sec-copy__cotents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30rem;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-copy__cotents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 26.4102564103vw;
  }
}
#em240508arai .sec-copy__item {
  line-height: 1.3333333333;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-copy__item {
    line-height: 1.5;
  }
}
@media screen and (max-width: 767px) {
  #em240508arai .sec-copy__all {
    text-align: right;
  }
}
#em240508arai .sec-copy__all_text {
  text-decoration: underline;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
}