@use "../global" as *;
#em240508arai {
    .mv {
        padding-bottom: rem(41);
    }
    .mv__inner {
        padding-left: rem(121);
    }
    .mv__video video {
        width: 100%;
        height: auto;
    }
    .mv__text {
        margin-top: rem(-72);
        display: flex;
        align-items: flex-end;
        gap: rem(49);
    }
    .mv__text_emmi {
        max-width:rem(419);
        width: 100%;
        padding-bottom: rem(2);
    }
    .mv__text_summer {
        max-width:rem(343);
        width: 100%;
    }
}