@use "../global" as *;
#em240508arai {
    .mv {
        padding-bottom: rem(0);
        overflow-x: clip;
        @include mq(md) {
            padding-bottom: 0;
        }
    }
    .mv__inner {
        padding-left: rem(121);
        @include mq(md) {
            padding-left: $padding-sp;
            padding-right: $padding-sp;
            margin-top: vw(-37);
        }
    }
    .mv__video {
        @include mq(md) {
            position: relative;
            overflow: clip;
            width: 100%;
            margin-left: 0;
        }
    }
    .mv__video::after {
        @include mq(md) {
            content: "";
            display: inline-block;
            width: 100%;
            padding-top: 175.3%;
        }
    }
    .mv__video video {
        width: 100%;
        height: auto;
        @include mq(md) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: auto;
        }
    }
    .mv__text {
        margin-top: rem(-72);
        display: flex;
        align-items: flex-end;
        gap: rem(49);
        position: relative;
        z-index: 1;
        @include mq(md) {
            margin-top: vw(0);
            flex-direction: column;
            align-items: center;
            gap: vw(24);
            padding-right: vw(12);
        }
    }
    .mv__text_emmi {
        max-width:rem(419);
        width: 100%;
        padding-bottom: rem(2);
        @include mq(md) {
            padding-bottom: 0;
            max-width: vw(217);
            margin-right: vw(3);
        }
    }
    .mv__text_summer {
        max-width:rem(343);
        width: 100%;
        @include mq(md) {
            max-width:vw(228.88);
        }
    }
}