@use "../global" as *;
#em240508arai {
    .sec-2 {
        margin-top: rem(903);
        @include mq(md) {
            margin-top: vw(96);
        }
    }
    .sec-2__inner {
        width: 100%;
        max-width: calc($inner);
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
    }
    .sec-2__top-images {
        @include mq(md) {
            overflow-x: clip;
        }
    }
    .sec-2__top-images_flex {
        display: flex;
        gap: rem(18);
        @include mq(md) {
            gap: vw(8);
            max-width: vw(398);
            width: calc(398 / 390 * 100vw);
        }
    }
    .sec-2__top-image {
        max-width:rem(568);
        width: 100%;
        @include mq(md) {
            max-width: vw(195);
        }
    }
    .sec-2__top-image_bottom {
        margin-top: rem(79);
        margin-left: auto;
        max-width:rem(605);
        @include mq(md) {
            max-width: vw(362);
            margin-top: vw(28);
        }
    }
    .sec-2__second {
        position: relative;
        margin-top: rem(309);
        margin-left: auto;
        max-width:rem(962);
        @include mq(md) {
            margin-top: vw(258.7);
            overflow-x: clip;
        }
    }
    .sec-2__second-text {
        position: absolute;
        top: rem(-416);
        left: rem(-59);
        @include mq(md) {
            max-width:vw(82.36);
            top: vw(-134.1);
            left: calc(50% + vw(19));
            transform: translateX(-50%);
        }
    }
    .sec-2__second-image {
        @include mq(md) {
            max-width:vw(378);
            margin-right: vw(-17);
            margin-left: auto;
        }
    }
    .sec-2__third {
        margin-top: rem(126);
        overflow-x: clip;
        @include mq(md) {
            margin-top: vw(41.3);
        }
    }
    .sec-2__third-flex {
        display: flex;
        gap: rem(32);
        width: 100%;
        margin-left: 0;
        @media screen and (max-width:1400px) {
            width: calc((737 + 32 + 632) / 1280 * 100vw);
            margin-left: rem(-79);
        }
        @include mq(md) {
            display: none;
        }
    }
    .sec-2__third-image-top {
        max-width:rem(737);
        width: 100%;
    }
    .sec-2__third-image-middel {
        max-width:rem(632);
        width: 100%;
        padding-top: rem(553);
    }
    .sec-2__third-swiper {
        @include mq(md) {
            max-width:vw(300);
            margin-right: auto;
        }
    }
    .sec-2__third-contents {
        margin-top: rem(63);
        margin-left: auto;
        max-width:rem(988);
        position: relative;
        @include mq(md) {
            margin-top: vw(86.9);
            margin-right: auto;
        }
    }
    .sec-2__third-text_contents {
        max-width:rem(555);
        position: absolute;
        left: rem(-164.4);
        top: rem(-37.8);
        width: 100%;
        @include mq(md) {
            max-width:vw(222.28);
            top: auto;
            bottom: vw(-17.6);
            left: vw(43);
        }

    }
    .sec-2__third-text {
        width:rem(555);
        // position: absolute;
        // left: rem(-164.4);
        // top: rem(-37.8);
        // width: 100%;
        @include mq(md) {
            width:vw(222.28);
            // top: auto;
            // bottom: vw(-17.6);
            // left: vw(43);
        }
    }
    .sec-2__fourth {
        max-width:rem(578);
        margin-left: auto;
        margin-right: auto;
        margin-top: rem(249);
        transform: translateX(rem(48));
        @include mq(md) {
            max-width:vw(330);
            margin-top: vw(204);
            transform: translateX(0);
        }
    }
}