@use "../global" as *;
#em240508arai {
    .sec-3 {
        margin-top: rem(241);
        background: $color-bg_black;
        position: relative;
        @include mq(md) {
            margin-top: vw(48.3);
        }
    }
    .sec-3__inner {
        width: 100%;
        max-width: calc($inner);
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        padding-top: rem(529);
        padding-bottom: rem(1432);
        position: relative;
        z-index: 1;
        background: $color-bg_black;
        @include mq(md) {
            padding-top: vw(83);
            padding-bottom: vw(503.8);
        }
    }
    .sec-3__images {
        display: flex;
        gap: rem(40);
        padding-right: rem(54);
        @include mq(md) {
            display: none;
        }
    }
    .sec-3__swiper {
        @include mq(md) {
            max-width:vw(330.6);
            margin-left: auto;
            margin-right: vw(5.7);
        }
    }
    .sec-3__image {
        max-width:rem(593);
        width: 100%;
    }
    .sec-3__bottom-contents {
        bottom: rem(-386);
        right: rem(51);
        max-width:rem(953);
        padding-top: rem(119);
        position: absolute;
        @include mq(md) {
            padding-top: vw(80);
            max-width:vw(388);
            width: 100%;
            padding-right:vw(41.4);
            right: auto;
            left: vw(-21);
            bottom: vw(-216);
        }
    }
    .sec-3__bottom-circle {
        position: absolute;
        right: rem(24);
        top: 0;
        max-width:rem(242);
        background:transparent;
        mix-blend-mode: multiply;
        -webkit-mix-blend-mode: multiply;
        z-index: 1;
        @include mq(md) {
            right: 0;
            max-width:vw(169);
        }
    }
    .sec-3__bottom-circle video {
        background: transparent;
    }
}