@use "../global" as *;
#em240508arai {
    .sec-6 {
        margin-top: rem(263);
        @include mq(md) {
            margin-top: vw(80);
        }
    }
    .sec-6__inner {
        width: 100%;
        max-width: calc($inner);
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
    }
    .sec-6__top_text {
        max-width:rem(1107.5);
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 1;
        mix-blend-mode: multiply;
        -webkit-mix-blend-mode: multiply;
        transform: translateX(rem(-1));
        @include mq(md) {
            transform: translateX(0);
            max-width:vw(332.25);
        }
    }
    .sec-6__top_text-01_container {
        max-width:rem(1085.06);
        @include mq(md) {
            max-width:vw(325.52);
            transform: translateX(vw(1.5));
        }
    }
    .sec-6__top_text-01 {
        max-width:rem(1085.06);
        width: 100vw;
        @include mq(md) {
            max-width:vw(325.52);
        }
    }
    .sec-6__top_text-02_container {
        max-width:rem(1107.5);
        margin-top: rem(178.5);
        @include mq(md) {
            max-width:vw(332.25);
            margin-top: vw(18.5);
            transform: translateX(vw(-1.5));
        }
    }
    .sec-6__top_text-02 {
        max-width:rem(1107.5);
        width: 100vw;
        @include mq(md) {
            max-width:vw(332.25);
        }
    }
    .sec-6__first_image {
        max-width:rem(819);
        margin-right: auto;
        margin-top: rem(-320.5);
        @include mq(md) {
            max-width:vw(332);
            margin-top: vw(-55.5);
        }
    }
    .sec-6__second-images {
        display: flex;
        gap: rem(46);
        margin-top: rem(133);
        @include mq(md) {
            display: none;
        }
    }
    .sec-6__second-left_image {
        max-width:rem(508);
        width: 100%;
        padding-top: rem(582);
    }
    .sec-6__second-right_image {
        max-width:rem(726);
        width: 100%;
    }
    .sec-6__swiper_contents {
        @include mq(md) {
            margin-top: vw(-121.2);
            max-width:vw(237);
            margin-left: auto;
        }
    }
    .sec-6__bottom_text {
        width:rem(550);
        mix-blend-mode: multiply;
        -webkit-mix-blend-mode: multiply;
    }
    .sec-6__bottom_text_container {
        margin-top: rem(473);
        max-width:rem(550);
        margin-left: auto;
        margin-right: auto;
        transform: translateX(rem(28));
        width: 100%;
    }
}