@use "../global" as * ;



img {
    width: 100%;
}
a {
    transition: opacity .3s ease;
}
a:hover {
    opacity: 0.7;
}
.inner {
    width: 100%;
    max-width: calc($inner);
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.only-sp {
    display: none;
    @include mq(md) {
        display: block;
    }
}
.only-pc {
    @include mq(md) {
        display: none;
    }
}
//base_laout
a {
    text-decoration: none;
}